<h1>Educacion</h1>

<br><br>

<div *ngIf="educacion">

<form class="formulario" #f="ngForm" (ngSubmit)="Actualizacion()" novalidate>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Institucion</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="educacion.institucion" required name="institucion">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Año de Inicio</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="educacion.anioInicio" required name="anioInicio">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Año de Finalizacion</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="educacion.anioFin" required name="anioFin">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Titulo Obtenido</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="educacion.titulo_obtenido" required name="titulo_obtenido">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nuevo Porcentaje</label>
        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" accept=".jpg, jpeg, .png" (change)="UploadImage($event)">
      </div>

      <div class="mb-3">

        <input type="text" [value]="ImageService.url" [(ngModel)]="educacion.img" name="img" class="form-control">

      </div>
    

      <br><br>

      <button class="btn btn-success" type="submit">Editar</button> <button class="btn btn-danger">Volver</button>

</form>

</div>


